In [10]:
import warnings
warnings.filterwarnings('ignore')

In [11]:
import pandas as pd
import numpy as np
import csv

from sklearn import model_selection

## Цель работы 
Подготовка данных к последующему процессу построения модели и оценки её качества.<br>
Качество построенной модели будем оценивать на кросс-валидации, а также оставим часть данных в размере 20% от исходной для оценки качества модели на отложенной выборки.<br>
В данной задаче классы несбалансированны, поэтому в качестве стратегии проведения кросс-валидации будем использовать stratified k-fold с разбиением на 4 фолда. Это позволит сохранить в каждой подвыборке соотношения классов.<br>
В качестве метрики качества будем использовать ROC-AUC метрику.

In [12]:
data = pd.read_csv('orange_small_churn_data.txt')
labels = pd.read_csv('orange_small_churn_labels.txt', 
                     header = None, names = ['churn'])

In [13]:
(data_train, data_test, 
 y_train, y_test) = model_selection.train_test_split(data, labels, 
                                                    test_size = 0.20, 
                                                    random_state = 1)

(data_train.shape, data_test.shape, 
 y_train.shape, y_test.shape)

((32000, 230), (8000, 230), (32000, 1), (8000, 1))

In [14]:
hold_out_dataset = data_test
hold_out_dataset['churn'] = y_test

In [15]:
hold_out_dataset.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230,churn
3841,NaN,NaN,NaN,NaN,NaN,896.0,7.0,NaN,NaN,NaN,...,V9BNqOn,jySVZNlOJy,NaN,kG3k,WqMG,nIGXDli,R4y5gQQWY8OodqDV,NaN,NaN,-1
12898,NaN,NaN,NaN,NaN,NaN,7.0,0.0,NaN,NaN,NaN,...,vXNQpAd,LM8l689qOp,NaN,NaN,3Cy4,02N6s8f,F2FyR07IdsN7I,NaN,NaN,-1
15032,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,FS4qjNq,LM8l689qOp,NaN,NaN,WqMG,RAYp,F2FyR07IdsN7I,NaN,NaN,-1
36781,NaN,NaN,NaN,NaN,NaN,2926.0,7.0,NaN,NaN,NaN,...,ZdsRt72,LM8l689qOp,NaN,kG3k,Aoh3,RAYp,F2FyR07IdsN7I,mj86,NaN,-1
9201,NaN,NaN,NaN,NaN,NaN,805.0,7.0,NaN,NaN,NaN,...,alU2fT4,LM8l689qOp,NaN,NaN,453m,RAYp,F2FyR07IdsN7I,NaN,NaN,-1

In [16]:
hold_out_dataset.index.to_numpy()

array([ 3841, 12898, 15032, ..., 20275, 10121, 32191], dtype=int64)

In [17]:
hold_out_dataset.to_csv('hold_out_dataset.csv')